Adafruit-Blinka==6.10.2
adafruit-circuitpython-pypixelbuf==2.2.5
Adafruit-PlatformDetect==3.14.1
Adafruit-PureIO==1.1.9
APScheduler==3.6.3
board==1.0
cachetools==4.2.2
certifi==2021.5.30
ffmpy==0.3.0
filelock==3.0.12
honcho==1.0.1
Pillow==8.2.0
pyftdi==0.53.1
pyserial==3.5
python-telegram-bot==13.6
pytz==2021.1
pyusb==1.1.1
six==1.16.0
tornado==6.1
tzlocal==2.1
